*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    box-shadow: 0px 0px 7px #ccc;
    margin-bottom: 50px;
    padding: 25px 55px;
    font-size: 1.5em;
}

img#logo{
    width: 50px;
    height: auto;
}

h3{
    text-align: left;
    font-size: 10px;
}

input{
    margin: 5px;
}

input[type=number]{
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 1px 4px;
    width: 250px;
}

label{
    display: inline-block; 
    width: 50%;
}

.box{
    border-radius: 10px;
    box-shadow: 0px 0px 7px #ccc;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

#barForm, #calculation{
    margin-left: auto; 
    margin-right: auto; 
    padding: 30px;
    width: 60%;
}

#submitButton, #resetButton{
    text-align: center;
    margin-top: 35px;
}

.button{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 2rem;
    padding: 0 1.6rem;
    text-align: center;
}

#total{
    margin-left: auto;
    margin-right: auto;
}

th, td{
    border: 1px solid #ccc;
    padding: 5px;
}

th{
    font-weight: 600;
}

table{
    border-collapse: collapse;
}

.tableCaption{
    font-weight:900; 
    margin:5px;
}

.salesAmountAndQuantity{
    height: 200px;
}

.resetNote{
    text-align: center;
    padding: 10px;
}

.italic{
    font-style: italic;
}

footer{
    margin-top: 200px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
}

/* Media queries */
@media screen and (max-width: 1200px){
    .box{
        width: 90%;
    }

    input[type=number]{
        width: 200px;
    }

    #barForm, #calculation{
        width: 70%;
    }
}

@media screen and (max-width: 800px){
    .box{
        width: 90%;
    }

    input[type=number]{
        width: 120px;
    }

    #barForm, #calculation{
        width: 90%;
    }
}